wp-content/plugins/all-in-one-wp-migration/storage/zlxk2cnlgydd/*.wpress
wp-content/ai1wm-backups/*.wpress 
vendor/

wp-content/uploads/
wp-content/ewww/
.htaccess

#This is to avoid All In one Security rules to be saved in the repo
aios-bootstrap.php
wp-content/uploads/aios/firewall-rules/settings.php