a {
	text-decoration: none;
	cursor: pointer;
}

.mb-0 {
	margin-bottom: 0;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;

	// Apply styles for mobile devices and up
	@include for-bp('mobile-md') {
		padding: 0 1.5rem;
	}

	// Apply styles for tablets and up
	@include for-bp('tablet-md') {
		padding: 0 2rem;
	}

	// Apply styles for small desktops and up
	@include for-bp('desktop-sm') {
		max-width: 1200px;
	}

	// Apply styles for medium desktops and up
	@include for-bp('desktop-md') {
		max-width: 1400px;
	}

	// Apply styles for large desktops and up
	@include for-bp('desktop-lg') {
		// Additional styles for very large screens can be added here if needed
	}

	// Apply styles for extra large screens
	@include for-bp('extra-large') {
		// Additional styles for very large screens can be added here if needed
	}
}